.App {
  font-family: sans-serif;
  font-style: italic;
  font-size: "20px";
}
.login-form {
  max-width: 300px;
  position: absolute;
  left: 35%;
  top: 30%;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
.appName {
  color: black;
  fontfamily: serif;
  fontstyle: italic;
  fontsize: 50px;
}
input {
  margin: 40px;
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
